
@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Cinzel:wght@400;700&display=swap');

/* Medieval Style CSS */
body {
    font-family: 'Cardo', serif;
    margin: 0;
    padding: 0;
    background-color: #f4e9d8;
    color: #3a3a3c;
}

header, footer {
    font-family: 'Cinzel', serif;
    background-color: #5a3921;
    color: #f4e9d8;
    text-align: center;
    padding: 1em;
    font-size: 24px;
}

nav {
    background: #8c6239;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul a {
    color: #f4e9d8;
    text-decoration: none;
    padding: 0 15px;
}

nav ul a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex: 1;
    text-align: center;
}

.main p {
    max-width: 600px;
    margin: 0 auto 20px;
    text-align: justify;
}

.sidebar {
    display: none;
}

h1, h2, h3 {
    font-family: 'Cinzel', serif;
}

header {
    border-bottom: 2px solid #8c6239;
}

footer {
    border-top: 2px solid #8c6239;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header, footer {
        font-size: 20px;
    }
}

#formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formSection {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
  }
/*experimenting starts here*/

/* Create a common class for both sections */
.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}
#habitHistoryDisplay {
    width: 100%; /* This will take the width of its parent */
    max-width: 600px; /* Ensure this matches the width of the tracking section */
    overflow: auto; /* Add scroll if content is too wide/long */
}
.history-content {
    max-width: 100%; /* Ensure the content does not stretch beyond the container width */
    overflow: auto; /* Add scrollbars if content is too wide/long */
}

/*dream weaver, wizziwig : something to create and generate css*/